:root {
    --color-primary: #AAA1C8;
    --color-primary-focus: #967AA1;
    --color-hover: #D5C6E0;
    --color-text-primary: white;
    --color-text-secondary: #1A1C11;
    --color-btn-color: #192A51;
}